extends _inc/_layout.pug

block var
    -
        var title = ''
        var pageTitle = ''
        var description = ''
        var keywords = ''
        var absolute = ''
        var pageID = 'top'
        var isRoot = true

block main

    //- h1
    //-     | webpack_typescript_three

    #stage