-
    var title = 'TITLE'
    var pageTitle = 'ページタイトル'
    var description = 'ディスクリプション'
    var keywords = 'キーワード'
    var absolute = ''

doctype html
html(lang='ja')

    include _inc/_head

    body
        //- include _inc/_header.pug
        //- include _inc/_footer.pug

        #stage

        include _inc/_script.pug